/* src/components/ErrorMessage.css */
.error-message {
    background-color: #ffcccc; /* Light red background */
    color: #cc0000; /* Dark red text */
    border: 1px solid #c80303;
    padding: 10px;
    margin: 20px auto;
    border-radius: 8px;
    text-align: center;
    max-width: 400px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.error-message p {
    margin: 0;
    font-size: 1rem;
    font-weight: 500;
}